### Objectives

- Load the Python Data Analysis Library (Pandas).
- Describe what a DataFrame and a Series are
- Understand DataFrame attributes versus methods
- Know usage of TAB button to search namespace

### Content to cover

* import pandas as pd
* DataFrame/Series
* .index/.columns versus .head()
* df. + TAB

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in R. A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure.

In [11]:
my_dataframe = pd.DataFrame({
    'Name': ["Braund, Mr. Owen Harris", 
             "Allen, Mr. William Henry", 
             "Bonnell, Miss. Elizabeth"], 
    'Pclass': np.array([3, 3, 1], dtype='int32'),
    'Age': [22, 35, 58]}
    )
my_dataframe

                       Name  Pclass  Age
0   Braund, Mr. Owen Harris       3   22
1  Allen, Mr. William Henry       3   35
2  Bonnell, Miss. Elizabeth       1   58

In [12]:
my_dataframe.columns

Index(['Name', 'Pclass', 'Age'], dtype='object')

In [13]:
my_dataframe.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
my_dataframe.dtypes

Name      object
Pclass     int32
Age        int64
dtype: object

In [9]:
my_dataframe.describe()

         Pclass        Age
count  3.000000   3.000000
mean   2.333333  38.333333
std    1.154701  18.230012
min    1.000000  22.000000
25%    2.000000  28.500000
50%    3.000000  35.000000
75%    3.000000  46.500000
max    3.000000  58.000000